<% provide(:title, "商品編集") %>
<div class="container">
  <h2 class="font-weight-bold my-5"><span style="background-color: #EEEEEE">　商品編集　</span></h2>
  <div class="row">
    <div class="col-10 offset-1 mb-5">

      <%= form_with model: @item, url: admin_item_path, local: true do |f| %>
      <table>
        <tr>
          <th><%= f.label :商品画像, class:"form_label"%></th>
          <td>
            <div class="form-group">
              <%= f.file_field :image,class:"mb-3 ml-3"%>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :商品名, class:"form_label" %></th>
          <td>
            <div class="form-group">
              <%= f.text_field :name, placeholder:"商品名",class:"form-control mb-3" %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :商品説明, class:"form_label" %></th>
          <td>
            <div class="form-group">
              <%= f.text_area :introduction, size: "50x5", placeholder:"ここに説明文を記述します",class:"form-control form-control-lg mb-3" %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :ジャンル, class:"form_label" %></th>
          <td>
            <div class="form-group">
              <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--",class:"form-select" %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :税抜価格,class:"form_label" %></th>
          <td>
            <div class="form-group">
              <%= f.text_field :price,size:"15"%>円
            </div>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: middle;"><%= f.label :販売ステータス, class: "form_label my-3" %></th>
          <td style="padding-left: 10px;">
            <div class="form-group">
              <%= f.radio_button :is_active, true, checked: true %>
              <%= f.label :is_active, "販売中",class:"form_label" %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, "販売停止中",class:"form_label" %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="form-action d-flex justify-content-around">
              <%= f.submit "変更を保存", class:"btn btn-success" %>
              <%= link_to "商品詳細へ戻る", admin_item_path, class:"btn btn-outline-secondary" %>
            </div>
          </td>
        </tr>
      <% end %>

      </table>
    </div>
  </div>
</div>

