<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h2 class="font-weight-bold my-5"><span style="background-color: #EEEEEE"> <%= @customer.full_name %>　さんの注文履歴 </span></h2>

  <table class="table">
    <thead>
      <tr style="background-color: #EEEEEE;">
        <th>購入日時</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order) do %>
              <%= order.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
            <% end %>
          </td>

          <td><% order_details = OrderDetail.where(order_id: order.id) %>
		            <% count = 0 %>
            		<% order_details.each do |order_detail| %>
            				<% count += order_detail.amount %>
            		<% end %>
            		<%= count %></td>
          <td><%= order.status %></td>


        </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
   <div class="d-flex justify-content-center"><%= paginate(@orders)%></div>
</div>