<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
          <h2 class="font-weight-bold my-5"><span style="background-color: #EEEEEE"> ジャンル編集 </span></h2>
        </div>
    </div>


        <table>
          <tr>
            <th style="padding: 20px;">
                  <%= form_with model: @genre,url: admin_genre_path, method: :patch, local: true do |f| %>
                    <%= f.label :name, "ジャンル名" %>
            </th>
            <td>
                    <%= f.text_field :name, id: "form" %>
                    <%= f.submit "変更を保存", class:"btn btn-success ml-4 py-1" %>
                  <% end %>
            </td>
        </table>
    <%= link_to "ジャンル一覧へ戻る",admin_genres_path, class:"btn btn-outline-secondary"%>
</div>