<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5"><span style="background-color: #EEEEEE">　配送先編集　</span></h2>

        <div id="error">
          <%= render "layouts/error_message", resource: @address %>
        </div>

        <%= form_with(model: @address, url:address_path, local: true ,method: :patch) do |f| %>
          <div class="col-lg-8">
            <table class="table">
                <tr>
                  <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
                  <td><%= f.text_field :postal_code, class: "form-control-static postal_code" %></td>
                </tr>
                <tr>
                  <th><%= f.label :"住所" %></th>
                  <td><%= f.text_field :address, class: "form-control-static address", style: "width: 100%;" %></td>
                </tr>
                <tr>
                  <th><%= f.label :"宛名" %></th>
                  <td><%= f.text_field :name, class: "form-control-static name" %></td>
                </tr>
            </table>
                    <%= f.submit '変更内容を保存', class: "btn btn-lg btn-success pull-right" %>
                </div>
          </div>
        <% end %>
    </div>
</div>