<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5"><span style="background-color: #EEEEEE">　注文履歴詳細　</span></h2>

<div class="row">
    <div class="col-lg-8">

<% if @order.present? %>
	<strong>注文情報</strong><br><br>
  <table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <th style="background-color: #EEEEEE; width: 30%;">注文日</th>
      <td style="width: 70%;"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th style="background-color: #EEEEEE; width: 30%;">配送先</th>
      <td style="width: 70%;">
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th style="background-color: #EEEEEE; width: 30%;">支払方法</th>
      <td style="width: 70%;"><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th style="background-color: #EEEEEE; width: 30%;">ステータス</th>
      <td style="width: 70%;"><%= @order.status %></td>
    </tr>
  </tbody>
</table>

</div>

    <div class="col-lg-4">
  <strong>請求情報</strong><br><br>
	<table class="table table-bordered table-condensed">
    <tr>
      <th style="background-color: #EEEEEE;">商品合計</th>
      <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th style="background-color: #EEEEEE;">配送料</th>
      <td><%= @order.shipping_cost.to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th style="background-color: #EEEEEE;">ご請求金額</th>
      <td><%= @order.total_payment.to_s(:delimited) %>円</td>
    </tr>
  </table>
</div>

    <div class="col-lg-12">
<div style="margin-top: 20px;">
	<strong>注文内容</strong><br><br>
  <table class="table table-bordered table-condensed">
  	<thead>
	    <tr style="background-color: #EEEEEE;">
	    	<th>商品</th>
	      <th>単価(税込)</th>
	    	<th>個数</th>
	    	<th>小計</th>
	    </tr>
  	</thead>
  	<tbody>
  	<% @order_details.each do |order_detail| %>
      <tr>
		    <td><%= order_detail.item.name %></td>
		    <td><%= order_detail.item.with_tax_price.to_s(:delimited) %>円</td>
		    <td><%= order_detail.amount %></td>
		    <td><%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %>円</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "注文履歴一覧へ戻る", orders_path, class: "btn btn-info btn-lg order-index-back" %>
<% else %>
  <p>注文履歴がありません。</p>
<% end %>
</div>
</div>
</div>