<!-- ジャンル検索 -->
<%= render "public/shared/sidebar", genres: @genres %>

<div class="col-lg-1"></div>

<!-- 商品一覧 -->
<div class="col-lg-9">

  <% if params[:genre_id] %>
    <h2><%= @genre.name %>の商品一覧(全<%= @all_items_count %>件)</h2>
  <% else %>
    <h2>商品一覧(全<%= @all_items_count %>件)</h2>
	<% end %>

    <div class="row">

      <% @page_items.each do |item| %>
      <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
       <div class="card w-100 bg-transparent border-0" style="width: 18rem;">

        <%= link_to item_path(item.id) do %>
          <p class="img-wrap"><%= image_tag item.get_image, size: "180x130" %></p>
        <div class="card-body">
          <p class="item-details item-name card-text"><%= item.name %></p>
        <% end %>

          <% if item.is_sold == true %>
            <p class="item-details card-text">¥<%= item.with_tax_price.to_s(:delimited) %></p>
          <% else %>
            <p class="text-danger font-weight-bold card-text">売り切れ</p>
          <% end %>

            </div>
          </div>
        </div>
      <% end %>

  </div>
      <%= paginate(@page_items) %>
</div>